<div class="row">
    <div class="card-panel">
      <%= form_with model: @card, scope: :card, url: cards_path do |form| %>
        <div class="field">
          <%= form.label :title %><br />
          <%= form.text_field :title %>
        </div>
        <div class="field">
          <label>Entries (comma or newline separated):
          <%= form.text_area :entries %>
        </div>
        <div class="actions">
          <div class="card-action right-align">
          <%= form.submit %>
          </div>
        </div>
      <% end %>
    </div>
</div>
