<div class="container">
  <div class="row">
    <%= render "logo" %>
    <div class="col s12">
      <div class="card cyan lighten-4">
        <div class="card-content">
        <%= form_with model: @card, scope: :card, url: cards_path do |form| %>
          <div class="field">
            <%= form.label :title %><br />
            <%= form.text_field :title %>
          </div>
          <div class="field">
            <label>Entries (comma or newline separated):
            <%= form.text_area :entries %>
          </div>
          <div class="field">
            <p class="entries-validation center-align"></p>
          </div>
          <div class="actions">
            <div class="card-action right-align">
              <%= form.submit class: "btn card-create-submit", disabled: "disabled" %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
