<!DOCTYPE html>
<html>
  <head>
    <title>Bingo Thingo | Generate Custom Bingo Templates</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="bg-slate-50">
    <!-- <span class="notice"><%= notice %></p> -->
    <!-- <span class="alert"><%= alert %></p> -->
    <main class="min-h-screen">
    <%= yield %>
    <footer class="h-10 dark:bg-gray-900 sticky top-[100vh] px-2 sm:px-4">
      <p class="pt-3 text-xs text-center text-gray-500">&copy; 2020-<%= DateTime.now.year %> &hearts;
        <a href="http://github.com/bryanmytko">Bryan Mytko</a>
      </p>
    </footer>
    </main>
  </body>
</html>
