<!DOCTYPE html>
<html>
  <head>
    <title>Bingo Thingo | Generate Custom Bingo Templates</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <!-- <span class="notice"><%= notice %></p> -->
    <!-- <span class="alert"><%= alert %></p> -->
    <main>
    <%= yield %>
    </main>
    <footer class="page-footer">
      <div class="container center-align">
        <span class="black-text">&copy; <%= DateTime.now.year %></span>
        <a href="http://bryanmytko.com">Bryan Mytko</a>
        <span class="black-text">&#9829;</a>
        <a href="https://github.com/bryanmytko">Github</a>
      </div>
    </footer>
  </body>
</html>
