<!DOCTYPE html>
<html>
  <head>
    <title>Bingo Thingo | Play custom bingo games with friends!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path("favicon.png") %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <span class="notice"><%= notice %></p>
    <span class="alert"><%= alert %></p>
    <main class="min-h-screen mx-auto">
    <header class="container grid grid-cols-4 gap-4 mx-auto pt-4 w-10/12">
      <a href="/">
        <img src=<%= image_path("logo.png") %> alt="bingo thingo" />
      </a>
    </header>
    <%= yield %>
    <footer class="h-10 sticky top-[100vh] px-2 sm:px-4 bg-gray-800">
      <p class="pt-3 text-xs text-center text-zinc-300">&copy; 2020-<%= DateTime.now.year %> &hearts;
        <a href="http://github.com/bryanmytko">Bryan Mytko</a>
      </p>
    </footer>
    </main>
  </body>
</html>
