<!DOCTYPE html>
<html>
  <head>
    <title>Bingo Thingo | Generate Custom Bingo Templates</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <span class="notice"><%= notice %></p>
    <span class="alert"><%= alert %></p>
    <main class="min-h-screen mx-auto">
    <header class="container grid grid-cols-4 gap-4 mx-auto pt-4 w-10/12">
      <img src=<%= image_path("logo.png") %> alt="bingo thingo" />
    </header>
    <%= yield %>
    <footer class="h-10 sticky top-[100vh] px-2 sm:px-4 bg-cyan-900">
      <p class="pt-3 text-xs text-center text-zinc-300">&copy; 2020-<%= DateTime.now.year %> &hearts;
        <a href="http://github.com/bryanmytko">Bryan Mytko</a>
      </p>
    </footer>
    </main>
  </body>
</html>
